@use "../variables" as *;
@use "../mixins" as *;

.home-container {
  padding: 3.2rem 2.4rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .total-spending {
    .pay-card {
      background-image: linear-gradient(120deg, #3b6fd2 54%, #8cc7d9 104%);
      padding: 2.4rem 2rem;
      border-radius: $radius-md;

      .label {
        font-size: 1.4rem;
        color: #fff;
        display: block;
        margin-bottom: 1.2rem;
      }

      .amount-area {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .currency-symbol {
          font-size: 1.2rem;
          width: 1.8rem;
          height: 1.8rem;
          font-weight: 500;
          color: $primary;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1;
        }

        .amount {
          font-size: 3rem;
          font-weight: 800;
          letter-spacing: -0.05rem;
          color: #fff;
          margin-right: 0.4rem;
        }

        .unit {
          font-size: 1.8rem;
          display: inline-block;
          color: #fff;
        }
      }
    }
  }
}

// 공통 카드리스트
.transaction-card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
// 공통 타이틀

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;

  .section-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $text;
  }

  .btn-more {
    color: $text;
    background: none;
    border: none;

    i {
      font-size: 2.4rem;
    }
  }
}

// 분석

.analysis-page {
  position: relative;
  min-height: 100vh;

  .top-bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31rem;
    background-image: linear-gradient(166deg, #3b6fd2 10%, #7bb4d8 140%);
    z-index: 1;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .analysis-top {
    position: relative;
    z-index: 2;
  }
  .tabs {
    padding-top: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    .tab-item {
      border-radius: $radius-sm;
      padding-block: 0.8rem;
      min-width: 11rem;
      background-color: rgba(255, 255, 255, 0.2);
      color: rgba($color: #fff, $alpha: 0.6);
      &.active {
        background-color: rgba($color: #fff, $alpha: 1);
        color: $primary;
        font-weight: 700;
      }
    }
  }
}

// 소비분석

.habit-section {
  padding-inline: 2.4rem;
  box-sizing: border-box;
  .habit-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.6rem;
    width: 100%;
    box-sizing: border-box;
  }

  .notice-list {
    padding-left: 1.2rem;
    li {
      font-size: 1.3rem;
      color: #999;
      list-style: disc;
      line-height: 1.8;
      &::marker {
        font-size: 1rem;
      }
    }
  }
}
