$background: #ebecf6;
$gray-bg: #f3f3f3;
$surface: #17181c;
$divider: #24262b;
$primary: #3b6fd2;
$secondary: #40bf91;
$accent: #765dff;
$error: #d83638;
$text: #222;
$gray-1: #676767;
$gray-2: #b4b2b2;
$gray-3: #bcbcbc;
$gray-4: #979797;

$radius-lg: 24px;
$radius-md: 16px;
$radius-sm: 8px;
$radius-xsm: 4px;
