@forward 'variables';
@forward 'mixins';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #EBECF6;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
